/* .divReviewContainer {
  background-color: var(--secondary-color);
  margin-top: 5vw;
  min-width: 184px;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3vw;
}

@media (min-width: 768px) {
  .divReviewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    width: 100vw;
  }
} */
