/* .divReviews {
  border: solid rgba(174, 172, 172, 0.88) 1px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 5px 6px 10px -8px rgba(160, 160, 160, 0.95);
  max-width: 284px;
  min-width: 96px;
  width: 90%;
  margin-bottom: 20px;
  height: 175px;
  min-width: 284px;
} */

/* @media (min-width: 768px) {
  .divReviews {
    width: 40vw;
    max-width: 450px;
  }
} */
